:root {
  --highlight-color: yellow;
  --hover-row-color: #f0f0f0;
}

.sales-qna-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}

form.rtl-switch {
  margin: 20px 0;
  display: flex;
  align-items: center;

  .switch-title {
    margin-right: 10px;
  }
  .switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 28px;

    input {
      display: none;
    }

    input {
      &:checked + .slider {
        background-color: #2196f3;
      }

      &:checked + .slider:before {
        transform: translateX(18px);
      }
    }

    .slider {
      position: absolute;
      cursor: pointer;
      background-color: #ccc;
      transition: 0.4s;
      height: 100%;
      width: 100%;
      border-radius: 28px;

      &:before {
        content: '';
        position: absolute;
        height: 20px;
        width: 20px;
        background-color: white;
        bottom: 4px;
        left: 4px;
        transition: 0.4s;
        border-radius: 50%;
      }
    }
  }
}

.sales-qna-questions {
  mark {
    font-weight: bold;
    background-color: var(--highlight-color);
  }

  tr[data-question] {
    &:hover {
      background-color: var(--hover-row-color);
    }
  }

  .qna-table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;

    th,
    td {
      border: 1px solid #ccc;
      padding: 4px 8px;

      &.qna-actions > div {
        display: flex;
        height: 100%;
        align-items: center;
        .btn {
          cursor: pointer;
          margin-left: 10px;
          color: blue;
          &.delete-btn {
            color: red;
          }
        }
      }
    }
  }
}

.nav-tab-wrapper {
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;

  > li.nav-tab {
    margin-bottom: 0;
    display: inline-block;
    padding: 8px 16px;
    border: 1px solid #ccc;
    background: white;
    margin-right: 2px;
    text-decoration: none;
    color: #000;
    cursor: pointer;
    position: relative;
    top: 1px;
    font-weight: normal;

    &.nav-tab-active {
      background: #f1f1f1;
      border-bottom-color: #f1f1f1;
      cursor: default;
    }
  }
}
